:root {
  --primary-light: #F2F2F2;
  --primary-cream: #EAE4D5;
  --primary-brown: #B6B09F;
  --primary-black: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-light);
  color: var(--primary-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary-brown);
  text-decoration: none;
}

a:hover {
  color: var(--primary-black);
}
